/* reset */
html, body, h1, dl, dt, dd, ul, li, p, hr {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
/* format */
section, article, aside, nav {
  display: block;
}
/* base */
html {
  background-color: #fdfdfd;
  background-image: linear-gradient(#011473, #285bbd, hsla(0,0%,50%,0));
  background-repeat: no-repeat;
}
body {
  padding: 1ex 0 1ex 1ex;
  color: #000;
  line-height: 1.2;
}
/* banner */
body > h1 {
  font-weight: bold;
  color: #c0c0c0;
}
/* window shape */
section, article, aside, nav {
  padding: 1ex;
  border: 1px solid #999999;
  background-color: #fdfdfd;
}
/* window caption */
section > h1:first-child,
article > h1:first-child,
aside > h1:first-child,
nav > h1:first-child {
  margin: -1ex -1ex 0 -1ex;
  padding: .5ex;
  font-weight: bold;
  text-shadow: 1px 1px 1px #fff;
  background-color: #eaeaea;
  background-image:
    linear-gradient(#fff 20%, hsla(0,0%,80%,.2), hsla(0,0%,50%,0));
}
section > h1:first-child:hover,
article > h1:first-child:hover,
aside > h1:first-child:hover,
nav > h1:first-child:hover {
  background-color: #f3f3f3;
}
/* window position */
body > section,
body > article,
body > aside,
body > nav {
  margin: 0 1ex 1ex 0;
  float: left;
  max-width: 80ex;
}
body > * {
  margin: 0 1ex 1ex 0;
}
/* @supports(not (display:flex)) { */
  /* window position */
  body {
    display: table;
    margin: auto;
  }
  /* banner position */
  body > h1 {
    margin-bottom: .5ex;
  }
/* } */
@supports(display:flex) {
  /* window position */
  body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  /* banner position */
  body > h1 {
    position: absolute;
    top: 1ex;
  }
  body {
    position: relative;
    padding-top: 4.3ex;
  }
}
/* blocks */
ul, dl, p,
section, article, aside, nav {
  margin: 1ex 0 0;
}
hr {
  width: 100%;
  border: 1px inset #fff;
}
/* inline */
code {
  padding: 0.3ex;
  word-break: keep-all;
  font-family: monospace;
  background: #e9e9e9;
}
kbd {
  padding: 0.3ex;
  border: 1px outset #fff;
  word-break: keep-all;
  font-family: monospace;
  background: #e9e9e9;
}
/* lists */
li {
  list-style-position: inside;
}
li:nth-of-type(2n) {
  background-color: #f3f3f3;
}
ul li {
  list-style-type: none;
}
dt {
  float: left;
  margin: 0 1ex 0 0;
  padding: 0 1ex;
  border: solid #ccc;
  border-width: 0 0 0 1ex;
  font-size: 0.9em;
  font-weight: bold;
  background: #eee;
  color: #222;
}
/* links */
a {
  color: #0000dd;
  text-decoration: none;
}
a:visited {
  color: #7777dd;
}
a:hover {
  text-decoration: underline;
}
/* links with icon */
.applinks a {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.applinks a[href^="tools/color/"] {
  background-image: url(../tools/color/favicon.ico);
}
.applinks a[href^="tools/event/"] {
  background-image: url(../tools/event/favicon.ico);
}
.applinks a[href^="tools/icon/"] {
  background-image: url(../tools/icon/favicon.ico);
}
.applinks a[href^="tools/jseval/"] {
  background-image: url(../tools/jseval/favicon.ico);
}
.applinks a[href^="tools/jstree/"] {
  background-image: url(../tools/jstree/favicon.ico);
}
.applinks a[href^="tools/kanaroma/"] {
  background-image: url(../tools/kanaroma/favicon.ico);
}
.applinks a[href^="tools/morse/"] {
  background-image: url(../tools/morse/favicon.ico);
}
.applinks a[href^="tools/unicode/"] {
  background-image: url(../tools/unicode/favicon.ico);
}
.applinks a[href^="tools/uri/"] {
  background-image: url(../tools/uri/favicon.ico);
}
.applinks a[href^="https://tw-minus.herokuapp.com/"] {
  background-image: url(../img/tw-min16.png)
}
#winapp .applinks a {
  background-image: url(../img/icons/exe.ico)
}
#winapp .applinks a[href^="https://github.com/0mg/sustimer/releases/download/"] {
  background-image: url(../img/icons/sustimer.ico)
}
#winapp .applinks a[href^="https://github.com/0mg/fulldraw/releases/download/"] {
  background-image: url(../img/icons/fulldraw.ico)
}
